<!DOCTYPE html>
<html lang="en">
	<head>
		{% title '401 - Access Denied!' %}

		{% embed 'Common/html_head.twig' %}
			{% block html_head_styles %}
				{{ parent() }}
				<link rel="stylesheet" href="{{ asset('css/style.css') }}">
			{% endblock html_head_styles %}
		{% endembed %}
	</head>

	<body class='error'>
		<div class="wrapper">

			<div class="code">
				<span>401</span>
				<i class="fa fa-warning"></i>
			</div>

			<div class="desc">Access Denied! You don't have permission to access this page.</div>

			<div class="buttons">
				<div class="pull-left">
					<a href="index.html" class="btn btn--icon"><span class="fa fa-arrow-left"></span>Back</a>
				</div>
			</div>

		</div><!-- /.wrapper -->
	</body>
</html>
